<html>
  <head>
    <title>Artists</title>
  </head>
  <body>
    <h1>Artists</h1> 
    <% @artists.each do |artist| %>
      <a href='/artists/<%= artist.id %>'><%= artist.name %></a>
      <p>Genre: <%= artist.genre %></p>
    <% end %>
  </body>
</html>