<h1>Add an album</h1>
<form action="/albums/created" method="POST">
  <input placeholder="Enter title" type="text" name="title">
  <input placeholder="Enter release year" type="integer" name="release_year">
  <input placeholder="Enter artist ID" type="integer" name="artist_id">

  <input type="submit" value="Submit the form">
</form>