<h1>Add an artist</h1>

<form action="/artists/created" method="POST">

  <input placeholder="Enter name" type="text" name="name">
  <input placeholder="Enter genre" type="text" name="genre">

  <input type="submit" value="Submit the form">
</form>